@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
}

header img {
    width: 500px;
}

body {
    background-color: #E3350D;
}

.pokemon__logo {
    max-width: 400px;
}

.pokemon-card {
    border: 1px solid #999;
    background-color: #eee;
    height: 300px;
    width: 220px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px #888888;
}

.pokemon-card__title{
    font-size: 20px;
}

.sprites {
    background-color: white;
    border: 1px solid #ccc;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    outline: black solid 1px;
}

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 900px;
    margin: auto;
    gap: 10px;
    background-color: #0dadef;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-content: center;
    outline: white solid 10px;
}

p {
    text-align: center;
}

.pokemon-card__list{
    list-style: none;
}