@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
}

header img {
    width: 500px;
}

body {
    background-color: #E3350D;
}

.pokemon__logo {
    max-width: 400px;
}

.searchBox{
    margin: auto;
    width:300px;
    text-align: center;
}


.pokemon-card {
    border: 1px solid #999;
    background-color: #eee;
    height: 300px;
    width: 220px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px #888888;
}

.pokemon-card__title{
    text-transform: uppercase;
    font-weight: bold;
}
.pokeball{
    cursor: pointer;
}

.pokeball:hover {
    animation: wiggle 0.5s linear;
  }
  
  @keyframes wiggle {
    20% {
      transform: rotate(7deg);
    }
    
    40% {
      transform: rotate(-14deg);
    }
    
    60% {
      transform: rotate(4deg);
    }
    
    80% {
      transform: rotate(-2deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }
  

.pokemon-card__title {
    font-size: 20px;
    margin: 10px;
}

.sprites {
    border-radius: 60px;
    margin-top: 15px;

}

.pokeball {
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 60px;
    background-image: url("images/pokeballpng.png");
    background-size: cover;
    border-radius: 60px;
    /* Ensures the image covers the entire div */
}

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 900px;
    margin: auto;
    gap: 10px;
    background-color: #0dadef;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-content: center;
    outline: white solid 10px;
}

p {
    text-align: center;
}

.pokemon-card__list {
    list-style: none;
}

/* Knapper */
.buttons {
    width: 900px;
    margin: auto;
}

#prev-btn,
#next-btn {
    background-color: #f2f2f2;
    border: 2px solid #ffcb05;
    border-radius: 10px;
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#prev-btn:hover,
#next-btn:hover {
    background-color: #ffcb05;
    border: 2px solid #f2f2f2;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}